body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  background-color: #1F2937;
  font-family: "Roboto", "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.hero {
  height: 500px;
  background-color: #1F2937;
}

.information {
  height: 500px;
  background-color: white;
}

.quote {
  height: 400px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container p {
  color: #1F2937;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 36px;
  font-weight: 300;
}

.quote-container {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.quote-author {
  align-self: flex-end;
}

.signup {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 100px;
  background-color: #1F2937;
}

.links {
  display: flex;
  gap: 30px;
  flex: 1;
  margin-right: 200px;
  justify-content: end;
  color: white;
  font-size: 18px;
}

.logo {
  display: flex;
  flex: 1;
  margin-left: 200px;
  color: white;
}

.logo p {
  font-size: 24px;
  padding: 0px;
  color: white;
}

.image-placeholder {
  width: 600px;
  height: 300px;
  background-color: #ccc;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  align-items: center;
  gap: 100px;
  margin: 0;
  padding: 0 200px;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 300px;
  width: 350px;
  gap: 16px;
}

.container .title {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
  color: #e5e7eb;
  font-size: 18px;
  font-family: "Roboto", "Arial", sans-serif;
}

button {
  margin-top: 8px;
  color: white;
  background-color: #3882f6;
  border: none;
  width: 130px;
  height: 40px;
  border-radius: 10px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
}

.image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto", "Arial", sans-serif;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.information .container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 0;
  padding-top: 0;
}

.illustration {
  border-style: solid;
  border-color: #3882f6;
  border-width: 3px;
  border-radius: 15px;
  width: 200px;
  height: 200px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 16px;
}

.subtext {
  text-align: left;
  font-size: 18px;
}

.info .subtext {
  text-align: center;
  color: #1F2937;
}

.information-header {
  font-size: 36px;
  color: #1F2937;
  font-weight: bolder;
  margin: 36px;
}

.signup-container {
  width: 1000px;
  height: 120px;
  background-color: #3882f6;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.signup-button button {
  background-color: #3882f6;
  border-style: solid;
  border-color: #e5e7eb;
}

.call-to-action {
  font-size: 24px;
  font-weight: bolder;
}

.signup-text .subtext {
  font-size: 18px;
}

.footer {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}